.characterContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;

  border-radius: 20px;

  background: #566b9c;  
  color: white;
  border: 1px solid rgba(0, 245, 255, 0.4);
  box-shadow: 0 0 15px #00f5ff33;

  transition: 0.3s ease;
}