#root {
  width: 100%;
  min-height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center;
}

body {
  margin: 0; 
  min-height: 100vh;
  font-family: Helvetica; 
  background-color: #BFD0E3;
}

